* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 63px;
}
header .logo img {
  width: 162px;
  margin-top: 14px;
  margin-bottom: 5px;
}

form {
  display: flex;
  height: 50px;
  color: #353535;
  background-color: #EAEAEA;
  align-items: center;
  justify-content: center;
}
form .search-bar {
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-left: 20px;
}
form .search-bar::-moz-placeholder {
  color: #353535;
}
form .search-bar::placeholder {
  color: #353535;
}
form .fa-location-dot {
  position: relative;
  font-size: 16px;
  left: 35px;
}

.presentation {
  background-color: #F7F7F7;
  padding: 40px 0px 57px 0px;
  text-align: center;
}
.presentation h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.presentation p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 27px;
}
.presentation .btn {
  display: inline-block;
  height: 50px;
  width: 218px;
  color: #FFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 300ms;
  cursor: pointer;
}
.presentation .btn:hover {
  opacity: 0.8;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.fonctionnement-cards {
  background-color: #FFF;
}
.fonctionnement-cards h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0 26px 20px;
}
.fonctionnement-cards i {
  color: #7E7E7E;
  margin-right: 25px;
}
.fonctionnement-cards p {
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement-cards .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fonctionnement-cards .card {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  height: 72px;
  width: 80%;
  border-radius: 20px;
  align-items: center;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement-cards .card:hover i {
  color: #9356DC;
}
.fonctionnement-cards .card:nth-child(2) {
  padding-right: 15px;
}
.fonctionnement-cards .card:nth-child(3) {
  padding-right: 10px;
}
.fonctionnement-cards .pastille {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}

.container {
  background-color: #F7F7F7;
  margin-top: 45px;
  margin-bottom: 65px;
}
.container h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 54px 0 20px 20px;
}
.container a {
  display: block;
  color: #000;
  margin: 0 18px 20px 18px;
}
.container .new {
  position: relative;
}
.container .new::before {
  content: "Nouveau";
  display: flex;
  position: absolute;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  top: 15px;
  right: 15px;
}
.container .card-resto {
  height: 274px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.container .card-resto img {
  height: 75%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.container .card-resto .contenu-card-resto {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 12px 13px;
  align-items: center;
}
.container .card-resto h3 {
  font-size: 18px;
  font-weight: 700;
}
.container .card-resto p {
  font-size: 17px;
  font-weight: 300;
}
.container .card-resto i {
  font-size: 21px;
}

.footer {
  background-color: #353535;
  height: 186px;
}
.footer h4 {
  font-size: 20px;
  font-family: Shrikhand, cursive;
  font-weight: 100;
  color: #FFF;
  padding: 22px 0 16px 25px;
}
.footer li {
  margin-bottom: 7px;
  padding-left: 25px;
}
.footer .w400 {
  font-weight: 400;
}
.footer a {
  color: #FFF;
  font-weight: 500;
}
.footer i {
  margin-right: 10px;
  font-size: 16px;
}
.footer .fa-utensils {
  margin-right: 15px;
}/*# sourceMappingURL=styles.css.map */