// VARIABLES

$background: #F7F7F7;
$green: #99E2D0;
$dark_green: #008766;
$blue: #89C8FA;
$dark_blue: #003A68;
$purple: #9356DC;
$pink: #FF79DA;
$grey: #353535;
$grey_light: #EAEAEA;
$grey_dark: #7E7E7E;
$black: #000;
$white: #FFF; 

// GENERAL

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;
    text-decoration: none;
    
}

// HEADER

header {
    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba($color: $black, $alpha: 0.20);
    height: 63px;
    

    .logo img {
        width: 162px;
        margin-top: 14px;
        margin-bottom: 5px;
        
    }
}

// FORM

form {
    display: flex;
    height: 50px;
    color: $grey;
    background-color: $grey_light;
    align-items: center;
    justify-content: center;
    
    
    .search-bar {
        
        border: none;
        background-color: inherit;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-left: 20px;


    &::placeholder {color: $grey;}
        
    }

    .fa-location-dot {
        position: relative;
        font-size: 16px;
        left: 35px;
    }
}

// PRESENTATION

.presentation {

    background-color: $background;
    padding: 40px 0px 57px 0px;
    text-align: center;
    
    

    h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 27px;
    }

    .btn {
        
        display: inline-block;
        height: 50px;
        width: 218px;
        color: $white;
        background : linear-gradient($pink,$purple);
        border-radius: 25px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 4px 10px 0 rgba($color: $black, $alpha: 0.25);
        transition: all 300ms;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
            box-shadow: 0 4px 10px 0 rgba($color: $black, $alpha: 0.5);
        }
    }
    
}

//FONCTIONNEMENT

.fonctionnement-cards {

    background-color: $white;


    h2 {
        font-size: 24px;
        font-weight: 700;
        margin: 48px 0 26px 20px;
    }

    i {
        color: $grey_dark;
        margin-right: 25px;


    }
    
    p {
        font-size: 16px;
        font-weight: 500;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

    }
    
    .card {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: $background;
        height: 72px;
        width: 80%;
        border-radius: 20px;
        align-items: center;
        border: none;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

        &:hover i{
            color: $purple;
        }
        
        &:nth-child(2){
            padding-right: 15px;
        }

        &:nth-child(3){
            padding-right: 10px;
        }
    }

    
    
    .pastille {
            display: flex;
            width: 24px;
            height: 24px;
            background-color: $purple;
            color: $white;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -12px;
        }
        
}
    

    //RESTAURANTS

    .container {

        background-color: $background;
        margin-top: 45px;
        margin-bottom: 65px;
        
                
        h2 {
            font-size: 24px;
            font-weight: 700;
            padding: 54px 0 20px 20px;
        }

       a {
       
        display: block;
        color: $black;
        margin: 0 18px 20px 18px;
        

       }

        .card-resto {
            
            height: 274px;
            background-color: $white;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
            
 
        .contenu-card-resto {
            padding: 10px 25px 12px 13px;
            align-items: center;
        }

        h3 {
            font-size: 18px;
            font-weight: 700;
        }

        p {
            font-size: 17px;
            font-weight: 300;
        }

        i {
            font-size: 21px;
        }

       
        img {
            height: 75%;
            width: 100%;
            border-radius: 15px 15px 0 0;
            
        }

        .contenu-card-resto {
            display: flex;
            justify-content: space-between;
        }
   
    
   
   
    }
}
    
//FOOTER

.footer {
     background-color: $grey;
     height: 186px;

     h4 {
        font-size: 20px;
        font-family: Shrikhand, cursive;
        font-weight: 100;
        color: $white;
        padding: 22px 0 16px 25px;
     }

     li {
        margin-bottom: 7px;
        padding-left: 25px;

     }

     .w400 {
        font-weight: 400;
    }

    
     a {
        color: $white;
        font-weight: 500;
      
     }

     i {
        margin-right: 10px;
        font-size: 16px;
     }

     .fa-utensils {
        margin-right: 15px;
    }
    
 
}



