// VARIABLES

$background: #F7F7F7;
$green: #99E2D0;
$dark_green: #008766;
$blue: #89C8FA;
$dark_blue: #003A68;
$purple: #9356DC;
$pink: #FF79DA;
$grey: #353535;
$grey_light: #EAEAEA;
$grey_dark: #7E7E7E;
$black: #000;
$white: #FFF;
$breakpoint_desktop: 1024px;

// GENERAL

* {
    font-family: "Roboto", "sans-serif";
    margin: 0;
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}

// HEADER

header {
    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba($color: $black, $alpha: 0.20);
    height: 63px;
    align-items: center;
    
    .logo img {
        width: 162px;
        margin-top: 14px;
        margin-bottom: 5px;
    }
}

// FORM

form {
    display: flex;
    height: 50px;
    color: $grey;
    background-color: $grey_light;
    align-items: center;
    justify-content: center;

    .search_bar {
        
        border: none;
        background-color: inherit;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-left: 20px;


    &::placeholder {color: $grey;}
        
    }

    .fa-location-dot {
        position: relative;
        font-size: 16px;
        left: 35px;
    }
}

// PRESENTATION

.presentation {

    background-color: $background;
    padding: 40px 0px 57px 0px;
    text-align: center;
    
    

    h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }
    

    p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 27px;
    }

    .btn {
        
        display: inline-block;
        height: 50px;
        width: 218px;
        color: $white;
        background : linear-gradient($pink,$purple);
        border-radius: 25px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 4px 10px 0 rgba($color: $black, $alpha: 0.25);
        transition: all 300ms;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
            box-shadow: 0 4px 10px 0 rgba($color: $black, $alpha: 0.5);
        }
    }
    
}

// FONCTIONNEMENT

.fonctionnement_cards {

    background-color: $white;
       
    h2 {
        font-size: 24px;
        font-weight: 700;
        padding: 50px 0 25px 20px;
    }

    i {
        color: $grey_dark;
        margin-right: 15px;
    }
    
    p {
        font-size: 16px;
        font-weight: 500;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 0 20px;
    }
    
    .card {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: $background;
        height: 72px;
        width: 100%;
        border-radius: 20px;
        align-items: center;
        border: none;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        margin: 0 20px;

        &:hover i{
            color: $purple;
        }
        
    }

    .pastille {
            display: flex;
            width: 24px;
            height: 24px;
            background-color: $purple;
            color: $white;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -12px;
        }
        
}
    

// RESTAURANTS

    .bg_resto {
        background-color: $background;
        margin-top: 45px;
        
    }
    
    .container {
        
        padding-bottom: 65px;
     
        h2 {
            font-size: 24px;
            font-weight: 700;
            padding: 50px 0 25px 20px;
        }

        a {
            display: block;
            color: $black;
            margin: 0 18px 20px 18px;
        }

       .new {
            position: relative;
        }

       .new::before {

        content: "Nouveau";
        display: flex;
        position: absolute;
        height: 29px;
        width: 80px;
        background-color: $green;
        color: $dark_green;
        font-weight: 500;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba($color: $black, $alpha: 0.15);
        top: 15px;
        right: 15px;
        
       }

    .card_resto {
            
            height: 274px;
            background-color: $white;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
            
            img {
                height: 75%;
                width: 100%;
                border-radius: 15px 15px 0 0;
                
            }
 
        .contenu_card_resto {
            position: relative;
            padding: 10px 25px 12px 13px;
           
        }

        h3 {
            font-size: 18px;
            font-weight: 700;
        }

        p {
            font-size: 17px;
            font-weight: 300;
        }

        i {
            font-size: 25px;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            transition: all 0.2s;

            
            &:hover {
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-image : linear-gradient($purple,$pink);
                font-weight: 900;
            }
            
        }
   
   
    }
}
    
// FOOTER

.footer {
     background-color: $grey;
     height: 186px;

     h4 {
        font-size: 20px;
        font-family: Shrikhand, cursive;
        font-weight: 100;
        color: $white;
        padding: 22px 0 16px 25px;
     }

     li {
        margin-bottom: 7px;
        padding-left: 25px;

     }

     .w400 {
        font-weight: 400;
    }

    
     a {
        color: $white;
        font-weight: 500;
      
     }

     i {
        margin-right: 10px;
        font-size: 16px;
     }

     .fa-utensils {
        margin-right: 15px;
    }
    
 
}


// MENU-RESTAURANT

header {
    position: relative;

    i {
        display: block;
        font-size: 30px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.photo_plat {

 img {
    display: block;
    width: 100%;
    height: 275px;
   
}
}

.fiche_restaurant {

    background-color: $background;
        
    
    
    .title {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: inherit;
        align-items: center;
        margin-top: -40px;
        padding-top: 20px;
        border-radius: 2em 2em 0 0;
        
        i {
            font-size: 25px;
            padding-left: 30px;
        }
    }
    
    h2 {
        
        font-size: 28px;
        font-weight: 500;
        font-family: "Shrikhand", "cursive";
        
    }


}

.menu_restaurant {

    h3 {
        font-weight: 300;
        font-size: 16px;
        margin: 20px 0 20px 15px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 22px;
            left: 0;
            width: 35px;
            border: 2px solid $green;
        }
    }

    .entrees, .plats, .desserts {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        height: 75px;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        background-color: $background;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        cursor: pointer;

        
        .entree, .plat, .dessert {
            
            line-height: 23px;
            padding: 20px;
            white-space: nowrap;
            overflow: hidden;
        }
        
        
        h4 {
            font-size: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        p {
            font-size: 15px;
            font-weight: 300;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .price {
            margin-left: auto;
            display: flex;
            align-self: flex-end;
            font-weight: bold;
            padding: 0 20px 20px 0;
            
        }
        
        .check {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 60px;
            background-color: $green;
            margin-right: -60px;
            transition: all 0.5s;
        }
        
        &:hover .check {
            margin-right: 0px;
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            background: $white;
            color: $green;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
        
    }
    
}

.command {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;

        .btn {
       
    display: inline-block;
    height: 50px;
    width: 218px;
    color: $white;
    background : linear-gradient($pink,$purple);
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 rgba($color: $black, $alpha: 0.25);
    transition: all 300ms;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
        box-shadow: 0 4px 10px 0 rgba($color: $black, $alpha: 0.5);
    }
}
}


// RESPONSIVE

@media screen and (min-width: $breakpoint_desktop) {

    

// PRESENTATION
    
    .presentation {

        h1 {
            font-size: 40px;
        }
    }

// FONCTIONNEMENT
    
    .fonctionnement_cards  {

        width: 75%;
        margin: auto;
        
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            
        }
        
    }

// RESTAURANTS 

    .container {
    
        width: 75%;
        margin: auto;
        padding-bottom: 0;
        
        .liste_resto {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 50px;
            row-gap: 25px;

           
            
    }
        
}
    

// MENU-RESTAURANT

.photo_plat img {
    height: 350px;
}

.fiche_restaurant {
    width: 80%;
    margin: auto;

    .menu_restaurant {
        width: 60%;
        margin: auto;
    }
}


// FOOTER

.footer {
    
    position: relative;
    height: 114px;
    
    h4 {
        position: absolute;
        right: 50px;
        bottom: 16px;
    }
    
    ul {
        display: flex;
        position: absolute;
        right: 270px;
        bottom: 30px;
    }
}


}